.strava{
  font-size: .9rem;
  line-height: 1.3rem;

  .stats,
  .rides {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 200px;
  }

  .stat,
  .ride {
    width: 220px;
    height: auto;
    margin: .5%;
    box-shadow: 1px 1px 1px 1px #ccc;
    padding: 1% 1.5%;
    transition: $transition;
    &:hover {
      transform: scale(1.1);
    }
  }
  .container img{
    max-width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  // @media (min-width: $mobile) {
  //   .ride {
  //     text-align: center;
  //     margin-bottom: 4%;
  //     padding: 2% 1%;
  //   }
  //
  // }
}
