app-flickr {
    .search {
        margin: 20px auto 40px;
        text-align: center;
    }
    .cards {
        @include flex(row, wrap);
        justify-content: space-between;
        .card {
            max-width: 300px;
            .card-title {
                max-width: 70%;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}