app-navigation {
  .mat-toolbar {
    padding: 0;
    margin-bottom: 30px;
    .mat-toolbar-row {
      @include flex(row, wrap);
      background: #00bcd4;
      .mat-button {
        color: #fff;
        &.active {
          color: #00bcd4;
          background: #fff;
        }
      }
    }    
  }
}
