app-tv {
  .shows {
    @include flex(row, wrap);
    justify-content: space-around;

    .show-card {
      h5 {
        margin: 0 auto 5px;
      }
      width: 450px;
      height: auto;
      margin: .5%;
      box-shadow: .5px .5px .5px .5px #ccc;
      padding: 1% 1.5%;
      transition: $transition;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
