// Responsive
$mobile: 480px;
$transition: .3s ease-in-out all;


// Mixins
@mixin flex($direction, $wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin scale($zoom) {
  transition: $transition;
  &:hover {
   transform: scale($zoom);
  }
}