<div class="content">
    <md-card>   
        <h4>{{theWeather?.name}}</h4>
        <p>{{theWeather?.weather.description}}</p>
        <div class="tempurature">Current Temperature: {{((theWeather?.main.temp - 273) * 9 / 5 + 32).toFixed(0)}} &deg;F</div>
        <div class="tempurature">Today's High: {{((theWeather?.main.temp_max - 273) * 9 / 5 + 32).toFixed(0)}} &deg;F</div>        
        <div class="tempurature">Today's Low: {{((theWeather?.main.temp_min - 273) * 9 / 5 + 32).toFixed(0)}} &deg;F</div>
    </md-card>
</div>