<nav class="global-nav">
  <ul>
    <li><a href="#" class="nav-strava">Bike Rides</a></li>
    <li><a href="#" class="nav-cars">Cars</a></li>
    <li><a href="#" class="nav-zomato">Food</a></li>
    <li><a href="#" class="nav-news">News</a></li>
    <li><a href="#" class="nav-news">NY Times</a></li>
    <li><a href="#" class="nav-tv">TV Shows</a></li>
    <li><a href="#" class="nav-stocks">Stocks</a></li>
    <li><a href="#" class="nav-weather">Weather</a></li>
    <li><a routerLink="/random-user" routerLinkActive="active">Random User</a></li>
  </ul>
</nav>
