@import "assets/scss/vars";
@import "assets/scss/nav";
@import "assets/scss/news";
@import "assets/scss/nyt";
@import "assets/scss/strava";
@import "assets/scss/tv";
@import "assets/scss/users";
@import "assets/scss/zomato";
@import "assets/scss/flickr";
@import "assets/scss/reddit";

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    .container {
        padding: 1%;
    }
}
